################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/USBDevicesApp/FileContentIndex/0b0073d6-863e-4c58-bf73-26d3a14739d7.vsidx
/.vs/USBDevicesApp/FileContentIndex/24190149-31cc-4ac6-8733-85ffc40da80f.vsidx
